@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  zoom: 1.25;
  -moz-transform: scale(1.25);
  -moz-transform-origin: 0 0;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", "Arial";
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #68587c;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: #fea789;
  font-weight: bold;
}

header nav {
  float: right;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul a {
  display: block;
  padding: 0 1em;
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  color: #f16a70;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #ffd9c6;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #68587c;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #3b3b3b;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: normal;
}

.skills {
  background: #fea789;
}

.skills-container ul li {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background: white;
  padding: 0em 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .skill-title {
  font-weight: bold;
}

.skills-container ul li .featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #f7f7f7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.footer {
  background-color: #68587c;
  color: white;
  font-weight: medium;
  text-align: center;
  padding: 2em;
}

.comingsoon {
  font-weight: bold;
  font-stretch: expanded;
  color: #f16a70;
}

.right {
  margin-left: 2em;
  margin-top: 1em;
}

.skills {
  margin-top: -5em;
  margin-bottom: -7em;
  padding-top: 7em;
}

.skills-container ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto);
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
}

.portfolio {
  padding-top: 7em;
}

.portfolio-container img {
  margin-left: 2em;
}

@media only screen and (min-width: 700px) {
  .featured,
  .portfolio {
    text-align: left;
  }
  .featured,
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
    grid-template-columns: 40% auto;
  }
  .left,
  .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
}

@media only screen and (min-width: 1000px) {
  .hero {
    height: 40vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% auto;
    grid-template-columns: 60% auto;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 8em;
  }
  section.portfolio {
    margin-bottom: -8em;
  }
  .skills {
    padding: 4em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 15em;
    float: right;
  }
  .social-header ul img {
    width: 24px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% auto;
    grid-template-columns: 70% auto;
    padding: 4em;
  }
  .hero .content {
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .hero-design {
    position: relative;
    display: unset;
    margin-left: -50%;
    margin-right: 20%;
    margin-top: 2em;
    width: 16em;
  }
  .hero::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 60%;
    background: #d4f5ee;
    top: 20%;
    left: 60%;
    z-index: -1;
  }
}

@media only screen and (max-width: 700px) {
  body {
    zoom: unset;
    -moz-transform: unset;
    -moz-transform-origin: unset;
  }
  .portfolio {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .skills-container ul {
    grid-template-columns: auto;
  }
  .portfolio-container img {
    margin: 0;
  }
  .portfolio-container a {
    display: block;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */
